
<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="{{ .Site.BaseURL }}">

  <link rel="icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

  <title>
    {{ block "title" . }} {{- .Title }} - {{ .Site.Title -}} {{ end }}
  </title>

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
  
  {{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
  {{ end -}}
  
  {{- if .Params.Author }}
  <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}
  
  {{ hugo.Generator }}

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />

  <!-- Katex support -->
  {{ if .Params.math }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
      integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv"
      crossorigin="anonymous"
    >

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
      integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
      crossorigin="anonymous"
    ></script>

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
      integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>
  {{ end }}

  {{ template "_internal/opengraph.html" . }}

  {{ template "_internal/twitter_cards.html" . }}

  {{ template "_internal/schema.html" . }}

  {{ template "_internal/schema.html" . }}
</head>
